<div>
  <div>
    <div class="uk-grid-collapse uk-child-width-1-2@s uk-flex-middle" uk-grid>
      <div class="uk-background-cover" style="background-image: url(/bghero2.jpg);" uk-height-viewport>
        <div class="uk-container uk-light">
          <h1 class="uk-flex uk-flex-center uk-flex-middle" uk-height-viewport>SIM SPP</h1>
        </div>
      </div>
      <div class="uk-padding-large">
        <h2>Sign up</h2>
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>

          <div class="uk-margin">
            <%= f.label :name %><br />
            <%= f.text_field :name, autofocus: true, autocomplete: "name", placeholder: 'Name', class: 'uk-input uk-border-rounded'  %>
          </div>

          <div class="uk-margin">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'Email@example.com', class: 'uk-input uk-border-rounded'  %>
          </div>

          <div class="uk-margin">
            <%= f.label :password %>
            <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %><br />
            <%= f.password_field :password, autocomplete: "new-password", placeholder: '••••••', class: 'uk-input uk-border-rounded'  %>
          </div>

          <div class="uk-margin">
            <%= f.label :password_confirmation %><br />
            <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: '••••••', class: 'uk-input uk-border-rounded'  %>
          </div>

          <div class="uk-margin">
            <%= f.submit "Sign up", class: 'uk-button uk-button-primary uk-border-rounded' %>
          </div>
        <% end %>

        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>

