<div class="uk-padding">
  <ul class="uk-breadcrumb">
    <li class="uk-disabled"><a>localhost</a></li>
    <li><%= link_to 'superadmin', superadmin_home_path, method: :get %></li>
    <li><%= link_to 'role', superadmin_role_path, method: :get %></li>
    <li class="uk-disabled"><a>edit</a></li>
  </ul>
  <div class="uk-flex uk-flex-center">
    <div class="uk-card uk-card-default uk-card-body uk-padding uk-width-1-2">
      <%= form_for @role, :url => superadmin_update_role_path, html: { autocomplete: "off" } do |f| %>
        <div class="uk-margin">
          <%= f.label :name %>
          <%= f.text_field :name, class: 'uk-input uk-border-rounded' %>
        </div>
        <div class="uk-modal-footer uk-text-right">
          <%= link_to 'Cancel', superadmin_role_path, class: 'uk-button uk-button-default uk-modal-close', method: :get %>
          <%= f.submit class: 'uk-button uk-button-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>