<div class="uk-grid-small" uk-grid>
  <!-- list admin -->
  <div class="uk-width-1-2@m">
    <div class="uk-card uk-card-default uk-card-body uk-border-rounded uk-box-shadow-medium">
    <h3>User Admin</h3>
    <div class="uk-text-right">
      <a class="uk-button uk-button-primary uk-border-rounded" href="#modal-admin" uk-toggle>Tambah Admin</a>
    </div>
    <div class="uk-margin uk-overflow-auto">
            <table class="uk-table uk-table-striped uk-table-hover uk-table-responsive">
            <caption>*List User Admin.</caption>
              <thead>
              <tr>
                <th>Nama</th>
                <th>Email</th>
                <th>Action</th>
              </tr>
              </thead>
              <tbody>
              <% @daftar_admin.each do |admin| %>
                <tr>
                  <td class="uk-text-capitalize"><%= admin.username %></td>
                  <td><%= admin.email %></td>
                  <td class="uk-text-center">
                  <%= fa_icon "ellipsis-v" %>
                  <div uk-dropdown="pos: top-right; mode: click">
                    <ul class="uk-nav uk-dropdown-nav">
                      <li class="uk-active"><a href="#">Active</a></li>
                      <li><a href="#">Item</a></li>
                      <li class="uk-nav-header">Header</li>
                      <li><a href="#">Item</a></li>
                      <li><a href="#">Item</a></li>
                      <li class="uk-nav-divider"></li>
                      <li><a href="#">Item</a></li>
                    </ul>
                  </div>
                </td>
                </tr>
              <% end %>
              </tbody>
            </table>
          </div>
          <!-- end form search filter -->
    </div>

    <!-- modal admin -->
    <div id="modal-admin" uk-modal>
      <div class="uk-modal-dialog uk-margin-auto-vertical">
        <button class="uk-modal-close-default" type="button" uk-close></button>
        <div class="uk-modal-header">
          <h2 class="uk-modal-title">Tambah Admin</h2>
        </div>
        <div class="uk-modal-body">
          <%= form_for @admin, :url => superadmin_add_admin_path do |f| %>
            <div class="uk-margin">
              <%= f.label :username %>
              <%= f.text_field :username, class: 'uk-input uk-border-rounded' %>
            </div>
            <div class="uk-margin">
              <%= f.label :email %>
              <%= f.email_field :email, class: 'uk-input uk-border-rounded' %>
            </div>
            <div class="uk-margin">
              <%= f.label :password %>
              <%= f.password_field :password, class: 'uk-input uk-border-rounded' %>
              <%= f.text_field :role, class: 'uk-input uk-border-rounded', value: 'admin', hidden: 'true' %>
            </div>
        </div>
        <div class="uk-modal-footer uk-text-right">
          <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
          <%= f.submit "Submit", class: 'uk-button uk-button-primary' %>
        </div>
          <% end %>
      </div>
    </div>
    <!-- end modal admin -->


  </div>
  <!-- end list rayon -->

  <!-- list rayon -->
  <div class="uk-width-1-2@m">
    <div class="uk-card uk-card-default uk-card-body uk-border-rounded uk-box-shadow-medium">
    <h3>User Rayon</h3>

    <div class="uk-text-right">
    <a class="uk-button uk-button-primary uk-border-rounded" href="#">Tambah Rayon</a>
  </div>
    <div class="uk-margin">
    <table class="uk-table uk-table-striped uk-table-hover uk-table-responsive">
    <caption>*List User Admin.</caption>
      <thead>
      <tr>
        <th>Nama</th>
        <th>Email</th>
        <th>Rayon</th>
        <th>Action</th>
      </tr>
      </thead>
      <tbody>
      <% @daftar_rayon.each do |rayon| %>
        <tr>
          <td class="uk-text-capitalize"><%= rayon.username %></td>
          <td><%= rayon.email %></td>
          <td class="uk-text-uppercase"><%= rayon.rayon %></td>
          <td class="uk-text-center">
          <%= fa_icon "ellipsis-v" %>
          <div uk-dropdown="pos: top-right; mode: click">
            <ul class="uk-nav uk-dropdown-nav">
              <li class="uk-active"><a href="#">Active</a></li>
              <li><a href="#">Item</a></li>
              <li class="uk-nav-header">Header</li>
              <li><a href="#">Item</a></li>
              <li><a href="#">Item</a></li>
              <li class="uk-nav-divider"></li>
              <li><a href="#">Item</a></li>
            </ul>
          </div>
        </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
  <!-- end form search filter -->
</div>
    </div>
  </div>
  <!-- end rayon -->
</div>