<div class="uk-padding">
  <ul class="uk-breadcrumb">
    <li class="uk-disabled"><a>localhost</a></li>
    <li class="uk-disabled"><a>superadmin</a></li>
  </ul>
  <% if notice %>
    <div uk-alert class="uk-alert-success">
      <a class="uk-alert-close" uk-close></a>
      <h3>Pesan</h3>
      <hr>
      <p><%= notice %></p>
    </div>
  <% end %>

  <% if alert %>
    <div uk-alert class="uk-alert-danger">
      <a class="uk-alert-close" uk-close></a>
      <h3>Pesan</h3>
      <hr>
      <p><%= alert %></p>
    </div>
  <% end %>

  <div class="uk-grid-small" uk-grid>

    <!-- list admin -->
    <div class="uk-width-1-2@m">
      <div>
        <h3>User</h3>
        <%= column_chart User.group(:role).count %>
      </div>
    </div>
    <!-- end list rayon -->

    <!-- list rayon -->
    <div class="uk-width-1-2@m">
      <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-card-hover uk-margin" uk-grid>
        <div class="uk-card-media-left uk-cover-container">
          <img src="/assets/img/bg_admin.png" alt="" uk-cover>
          <canvas width="600" height="400"></canvas>
        </div>
        <div>
          <div class="uk-card-body">
            <h3 class="uk-card-title">Admin</h3>
            <p>Tambah akun admin untuk melakukan import data tagihan.</p>
            <%= link_to 'Lihat Data', superadmin_admin_path, class: 'uk-button uk-button-default uk-width-1-1', method: :get %>
          </div>
        </div>
      </div>

      <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-card-hover uk-margin" uk-grid>
        <div class="uk-flex-last@s uk-card-media-right uk-cover-container">
          <img src="/assets/img/bg_rayon.png" alt="" uk-cover>
          <canvas width="600" height="400"></canvas>
        </div>
        <div>
          <div class="uk-card-body">
            <h3 class="uk-card-title">Rayon</h3>
            <p>Tambah akun rayon untuk melakukan pengecekan tagihan langsung pada Aplikasi.</p>
            <%= link_to 'Lihat Data', superadmin_rayon_path, id: 'goto-rayon', class: 'uk-button uk-button-default uk-width-1-1', method: :get %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end rayon -->
</div>
