<div class="uk-container uk-padding">
  <div uk-grid>
    <div class="uk-width-expand@m">
      <div class="uk-card uk-card-default uk-card-body uk-border-rounded uk-box-shadow-large">
        <h3>List Rayon</h3>

        <div class="uk-overflow-auto">

          <div class="uk-margin uk-text-right@m">
            <a href="#modal-add-rayon" uk-toggle class="uk-button uk-button-default uk-border-rounded uk-box-shadow-medium">
              <%= fa_icon 'plus', text: 'Tambah Rayon' %>
            </a>
          </div>

          <table class="uk-table uk-table-striped uk-table-hover">
            <caption>Jumlah Rayon : <%= @totalrayon %></caption>
            <thead>
            <tr>
              <th>#</th>
              <th>Rayon</th>
              <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <% @rayon.each do |rayon| %>
              <tr>
                <td>•</td>
                <td class="uk-text-uppercase"><%= rayon.nama_rayon %></td>
                <td>
                  <a type="button"><%= fa_icon 'angle-down' %></a>
                  <div uk-dropdown="mode: click">
                    <ul class="uk-nav uk-dropdown-nav">
                      <li><a href="#"><%= fa_icon 'edit' %> Edit</a></li>
                      <li><a href="#"><%= fa_icon 'trash' %> Hapus</a></li>

                    </ul>
                  </div>
                </td>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>

        <ul class="uk-pagination uk-flex-right@m">
          <li><%= will_paginate @rayon %></li>
        </ul>
      </div>
    </div>

    <!-- cart -->
    <div class="uk-width-1-3@m">
      <div class="uk-card uk-card-default uk-card-body uk-border-rounded uk-box-shadow-large">
        <h3>List Rayon</h3>

        <div class="uk-overflow-auto">


        </div>

      </div>
    </div>
  </div>
</div>

<!-- modal add rayon -->
<div id="modal-add-rayon" uk-modal>
  <div class="uk-modal-dialog">
    <button class="uk-modal-close-default" type="button" uk-close></button>
    <div class="uk-modal-header">
      <h2 class="uk-modal-title">Tambah Rayon</h2>
    </div>
    <div class="uk-modal-body">
      <%= form_for @addrayon, :as => :rayon, :url => add_rayon_path(@addrayon) do |f| %>
        <%= f.label :nama_rayon %>
        <%= f.text_field :nama_rayon, class: 'uk-input uk-border-rounded uk-text-uppercase', autofocus: 'on', autocomplete: :off, placeholder: 'CIC 5...' %>

        </div>
        <div class="uk-modal-footer uk-text-right">
          <button class="uk-button uk-button-default uk-modal-close uk-border-rounded" type="button">Kembali</button>
          <%= f.submit 'Simpan', class: 'uk-button uk-button-primary uk-border-rounded' %>
        </div>
      <% end %>
  </div>
</div>
<!-- end modal -->