<!DOCTYPE html>
<html>
  <head>
    <title>SIMSPP</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="uk-background uk-background-muted" uk-height-viewport>
  <% if user_signed_in? %>
    <div class="uk-background-primary uk-light" uk-navbar>
      <div class="uk-navbar-left uk-text-large">
        <a class="uk-navbar-toggle" uk-navbar-toggle-icon uk-toggle="target: #menu"></a>SIM SPP
      </div>
    </div>

    <div id="menu" uk-offcanvas="mode: push; overlay: true">
      <div class="uk-offcanvas-bar">
        <ul class="uk-nav uk-nav-default">
          <li class="uk-nav-header">Menu</li>
            <% if current_user.role == "superadmin" %>
            <li class="uk-parent">
              <%= link_to 'Home', superadmin_home_path, method: :get %>
              <ul class="uk-nav-sub">
                <li><%= link_to 'List Admin', superadmin_admin_path, method: :get %></li>
                <li><%= link_to 'list Rayon', superadmin_rayon_path, method: :get %></li>
              </ul>
            </li>
            <li><%= link_to 'Role', superadmin_role_path, method: :get %></li>
            <% elsif current_user.role == "admin" %>
            <% else %>
            <% end %>
          <li class="uk-nav-divider"></li>
          <li><%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %></li>
        </ul>

      </div>
    </div>
  <% else %>
    <!-- empty -->
  <% end %>

  <div>
    <%= yield %>
  </div>
  </body>
</html>
